#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h> // マウス操作用
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

// レイヤー番号の定義
#define BAS 0
#define LOW 1
#define RAI 2
#define SET 3

&lt {
    quick-tap-ms = <200>;
};

&mt {
    quick-tap-ms = <200>;
};

/ {
    /* --- 独自の挙動（Mod-Morph）の定義 --- */
    behaviors {
        // Shift + _ で「_」を入力、単打で「-」 (JIS配列想定)
        minus_under: minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Shift + CapsLock で CapsLock有効化、単打で Shift+CapsLock
        force_caps: force_caps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(CLCK)>, <&kp CLCK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        // LOW(1) と RAI(2) 同時押しで SET(3) レイヤーへ
        tri-layer {
            if-layers = <LOW RAI>;
            then-layer = <SET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Default Layer (BAS) */
        default_layer {
            display-name = "BAS";
            bindings = <
                &kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y  &kp U  &kp I      &kp O    &kp P              &kp BSPC
                &kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H  &kp J  &kp K      &kp L    &kp RBKT           &kp NUHS
                &kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH           &minus_under
                                         &kp LGUI  &mo RAI  &kp SPACE  &kp RET  &mo LOW  &kp RALT
            >;
        };

        /* Lower Layer (LOW): Numbers, F-keys */
        lower_layer {
            display-name = "LOW";
            bindings = <
                &kp ESC      &kp N1    &kp N2    &kp N3    &kp N4     &kp N5       &kp N6     &kp N7     &kp N8    &kp N9    &kp N0    &kp DEL
                &force_caps  &kp EXCL  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &trans    &trans
                &kp F1       &kp F2    &kp F3    &kp F4    &kp F5     &kp F6       &kp F7     &kp F8     &kp F9    &kp F10   &kp F11   &kp F12
                                                 &kp LGUI  &trans     &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        /* Raise Layer (RAI): Mouse, Symbols, Arrows */
        raise_layer {
            display-name = "RAI";
            bindings = <
                &mkp LCLK  &mkp MB3  &kp UP    &mkp RCLK       &trans          &msc SCRL_UP      &kp DQT    &kp FSLH   &kp PLUS   &kp LS(INT3)  &kp INT3        &kp BSPC
                &trans     &kp LEFT  &kp DOWN  &kp RIGHT       &mmv MOVE_UP    &msc SCRL_DOWN    &kp COLON  &kp MINUS  &trans     &kp LBKT      &trans          &trans
                &kp GRAVE  &trans    &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &kp EQUAL  &kp KP_MINUS &kp SEMI &kp SQT       &trans          &kp INT1
                                               &kp LGUI        &studio_unlock  &kp SPACE         &kp RET    &studio_unlock &kp RALT
            >;
        };

        /* Setting Layer (SET): BT (LED controls removed) */
        setting_layer {
            display-name = "SET";
            bindings = <
                &trans      &trans        &kp PG_UP     &kp C_PAUSE   &kp SLCK      &kp PSCRN      &none      &none      &none      &none      &none      &none
                &trans      &kp HOME      &kp PG_DN     &kp END       &trans        &kp INS        &none      &none      &none      &none      &none      &none
                &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &none      &none      &none      &none      &none      &none
                                                        &trans        &trans        &trans         &trans     &trans     &trans
            >;
        };
    };
};
